* {
    margin:auto;
    text-align:center;
    width:80%;

}

.banner {
    z-index: -1;
}

.overlay {
    z-index: 1;
    font-size: 5vw;
}


.container-styling {
    background-color: lightgrey;
    border-radius:40px;
}

.clock-container {
    
    background-color: orange;
    opacity:80%;
    
    padding:5%;
    border-radius:40px;
}

#time-clock{
    text-align:center;
}

#question-container{
    background-color: orange;
    opacity:50%;
    margin-top:3%;
    width:fit-content;

}

ul {
    margin-top:3%;
    list-style: none;
    margin:auto;
}

.list-choice {
    margin-left:5%;
    margin-top:1%;
    padding:1%;
}

@media screen and (max-width: 780px) {
 
    .banner {
        height: 120%;
       }
   
    #question-container{
        width:70%;
        margin-top:5%;
        margin-bottom:5%;
    }

    .container-styling {
        background-color: lightgrey;
        border-radius:40px;
        width:100%;
    }


    #multiple-choice {
        width:100%;
    }
}