* {
    margin:auto;
    text-align:center;
    width:80%;

}
.container-styling {
    background-color: lightgrey;
    border-radius:40px;
    

}

.clock-container {
    
    background-color: orange;
    opacity:80%;
    margin:auto;
    padding:5%;
    border-radius:40px;
}

#time-clock{
    text-align:center;
}

#question-container{
    background-color: orange;
    opacity:50%;
    margin-top:3%;
    width:fit-content;

}

ul {
    margin-top:3%;
    list-style: none;
    margin:auto;
}

.list-choice {
    margin-left:5%;
    margin-top:1%;
    padding:1%;
}